body {
  align-items: center;
  display: flex;
  justify-content: center;
  background: linear-gradient(to top, #e4e5e6, #00416a);
  min-height: 100vh;
  color: #e4e5e6;
}

.main-title {
  font-size: 3.3rem;
}

.btn {
  background-color: #002b46;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
  font-size: large;
  border: none;
  font-weight: 600;
  border-radius: 40px;
}

.container {
}
